.UserPicView {
    display: flex;
    height: 250px;
    width: 200px;
    margin: 10px 0 10px 0;
    border: .5px solid black;
    background-size: cover;
}

.SplittedBlock {
    display: flex;
    flex-direction: column;
}

.block-partial-half {
    margin: 5px 10px;
}


@media (min-width: 599px) {

    .SplittedBlock {
        flex-wrap: wrap;
        flex-direction: row;
    }

}